@font-face {
  font-family: "icomoon";
  src: url("../../../public/icomoon/icomoon.eot?lqevgu");
  src: url("../../../public/icomoon/icomoon.eot?lqevgu#iefix")
      format("embedded-opentype"),
    url("../../../public/icomoon/icomoon.ttf?lqevgu") format("truetype"),
    url("../../../public/icomoon/icomoon.woff?lqevgu") format("woff"),
    url("../../../public/icomoon/icomoon.svg?lqevgu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-certificate:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-checkmark:before {
  content: "\e903";
}
.icon-heart-esg:before {
  content: "\e904";
}
.icon-money-cycle:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e906";
}
.icon-leader:before {
  content: "\e907";
}
.icon-increase:before {
  content: "\e908";
}
.icon-revenue:before {
  content: "\e909";
}
.icon-shuttle:before {
  content: "\e90a";
}
.icon-skill-dumbell:before {
  content: "\e90b";
}
.icon-skill-water:before {
  content: "\e90c";
}
.icon-wallet:before {
  content: "\e90d";
}
.icon-user-group:before {
  content: "\e90e";
}
.icon-tools:before {
  content: "\e90f";
}
